.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* position: -webkit-sticky; */
  position: sticky;
  top:0;
  padding: 20px;
  /* width: 100%; */
 
  /* z-index: 100; */
  background-color: white;
}

.header_logo{
    height:25px;
    object-fit: contain;
    margin-left: 10px;   
}

.header_left {
    display: flex;
    justify-content: center;
}

.header_input {
   display: flex;
   /* align-items: center;  */
   width: 40%;  
}


.header_input:focus {
   border: 1px solid black;
}

.header_inputButton{
    width:40px !important;
    background-color: #fafafa;
    border: 1px solid black;
    color: gray;   
}

.header_icons{
    display: flex;  
 }

 .header_icon{
    margin-left: 8px;
 }

 .header_input > input{
    width: 100%;  
    justify-content: center;
 }